.anythingslider-admin-header {
    margin: -0.4em -0.8em -5px -0.8em;
    padding: 10px;
    background-color: #234567;
    color: #fff;
    text-shadow: #000 0 1px 3px;
}
.anythingslider-admin-header span {
    font-size:20px;
    vertical-align: top;
    padding-top: 3px;
    display: inline-block;
}
.anythingslider-admin-subheader {
    margin: -0.4em -0.8em 5px -0.8em;
    padding: 5px 9px;
    background-color: #ddd;
    color: #111;
    text-shadow: #fff 0 1px 2px;
}
.anythingslider-admin-li {
    background: #eee;
}
.anythingslider-admin-default {
    color: #aaa;
    padding-left: 6px;
}
.anythingslider-single-conf {
    width: 32%;
    display: inline-block;
    margin-right: 5px;
}

.anythingslider-bold {
    font-weight: bold;
}
.anythingslider-code {
    font-family: monospace;
    margin: 3px 3px;
    background-color: #eee;
    border: 1px dotted #aaa;
}
.anythingslider-italic {
    font-style: italic;
}
.anythingslider-pre {
    font-family: monospace;
}